---
import Layout from '@/layouts/Layout.astro';
import Home from '@/components/Home.astro';
import Description from '@/components/Description.astro';
import Services from '@/components/Services.astro';
import Counter from '@/components/Counter.astro';
import Clients from '@/components/Clients.astro';
import Testimonials from '@/components/Testimonials.astro';
import CaseStudies from '@/components/CaseStudies.astro';
import Banner from '@/components/Banner.astro';
import Podcast from '@/components/Podcast.astro';
import Team from '@/components/Team.astro';
import Lab from '@/components/Lab.astro';
import Partners from '@/components/Partners.astro';
import Contact from '@/components/Contact.astro';

---

<Layout 
	title="titulo"
	description="descripción"
>	
	<main>
		<Home />
		<Description />
		<Services />
		<Counter />
		<Clients />
		<Testimonials />
		<CaseStudies />
		<Banner 
			img="./banner-1.webp"
			alt="Banner 1"
			url="#"
			containerClass="w-10/12 mb-24"
			bannerClass="rounded-xl"
		/>
		<Podcast />
		<Team />
		<Lab />
		<Partners />
		<Banner 
			img="./banner-1.webp"
			alt="Banner 2"
			url="#"
			containerClass="w-full mb-24"
			bannerClass=""
		/>
		<Contact />
	</main>		
</Layout>