---
import SectionHeader from '@/components/SectionHeader.astro';
---
<section class="w-full mt-24">
    <SectionHeader 
        title="Case Studies"
    />
</section>
<section class="w-full max-w-[1400px] grid auto-rows-[30rem] gap-4 mx-auto mb-24">
    
</section>