---
import CarouselClients  from "./CarouselClients";
import SectionHeader from '@/components/SectionHeader.astro';
---
<section class="w-full my-24">
    <SectionHeader 
        title="Our Clients"
        subtitle="<strong>LEADING BRANDS</strong> IN DIGITAL MARKETING"
    />
    <CarouselClients />
</section>