---
import { CountUp } from "./CountUp";
---

<div 
    class="relative w-full h-80 overflow-y-scroll bg-cover bg-fixed bg-center bg-no-repeat mb-16
            after:content-[' '] after:absolute after:w-full after:h-80 after:top-0 after:left-0 after:bg-black/60"
    style="background-image:url('/barcelona.webp');"
>
    <div class="w-10/12 grid grid-cols-12 gap-5 mx-auto mt-16">
        <div class="col-span-2 col-start-3 place-content-center z-10 flex flex-col justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#D3012C" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" fill="#D3012C"/>
            </svg>
            <span class="font-worksans text-white text-7xl font-bold tabular-nums tracking-tighter my-5">
                <CountUp client:visible initial={0} final={17} />
            </span>
            <span class="font-worksans text-white uppercase">
                Years Experience
            </span>
        </div>
        <div class="col-span-2 place-content-center z-10 flex flex-col justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#D3012C" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" fill="#D3012C"/>
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" fill="#D3012C"/>
            </svg>
            <span class="font-worksans text-white text-7xl font-bold tabular-nums tracking-tighter my-5">
                +<CountUp client:visible initial={0} final={148} />
            </span>
            <span class="font-worksans text-white uppercase">
                Clients
            </span>
        </div>
        <div class="col-span-2 place-content-center z-10 flex flex-col justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-microphone" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#D3012C" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 2m0 3a3 3 0 0 1 3 -3h0a3 3 0 0 1 3 3v5a3 3 0 0 1 -3 3h0a3 3 0 0 1 -3 -3z" fill="#D3012C"/>
                <path d="M5 10a7 7 0 0 0 14 0" />
                <path d="M8 21l8 0" />
                <path d="M12 17l0 4" />
            </svg>
            <span class="font-worksans text-white text-7xl font-bold tabular-nums tracking-tighter my-5">
                +<CountUp client:visible initial={0} final={162} />
            </span>
            <span class="font-worksans text-white uppercase">
                CONFERENCES GIVEN
            </span>
        </div>
        <div class="col-span-2 place-content-center z-10 flex flex-col justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trophy-filled" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#D3012C" fill="#D3012C" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 3a1 1 0 0 1 .993 .883l.007 .117v2.17a3 3 0 1 1 0 5.659v.171a6.002 6.002 0 0 1 -5 5.917v2.083h3a1 1 0 0 1 .117 1.993l-.117 .007h-8a1 1 0 0 1 -.117 -1.993l.117 -.007h3v-2.083a6.002 6.002 0 0 1 -4.996 -5.692l-.004 -.225v-.171a3 3 0 0 1 -3.996 -2.653l-.003 -.176l.005 -.176a3 3 0 0 1 3.995 -2.654l-.001 -2.17a1 1 0 0 1 1 -1h10zm-12 5a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm14 0a1 1 0 1 0 0 2a1 1 0 0 0 0 -2z" stroke-width="0" fill="#D3012C" />
            </svg>
            <span class="font-worksans text-white text-7xl font-bold tabular-nums tracking-tighter my-5">
                <CountUp client:visible initial={0} final={43} />
            </span>
            <span class="font-worksans text-white uppercase">
                Awards
            </span>
        </div>
    </div>
</div>
