<div class="w-10/12 grid grid-cols-12 gap-5 mx-auto my-24">
    <div class="col-span-3 place-content-center">
        <h2 class="font-worksans font-bold text-7xl">Intelligent Marketing</h2>
    </div>
    <div class="col-span-8 col-start-5 place-content-center">
        <p class="font-worksans text-2xl">We are a Digital Marketing Agency, offering Advanced Strategies since 1995 to improve your brand's ROI.</p>
    </div>
</div>