<div class="w-full bg-gray-100 py-16">
    <section class="w-10/12 grid grid-cols-12 gap-5 mx-auto mb-16">
        <div class="col-span-3 col-start-2 outline">Hola</div>
        <div class="col-span-6 col-start-6 outline">Adios</div>
    </section>

    <section class="w-10/12 grid grid-cols-12 gap-5 mx-auto mb-16">
        <div class="col-span-6 col-start-2 outline">Adios</div>
        <div class="col-span-3 col-start-9 outline">Hola</div>
    </section>

    <section class="w-10/12 grid grid-cols-12 gap-5 mx-auto mb-16">
        <div class="col-span-3 col-start-2 outline">Hola</div>
        <div class="col-span-6 col-start-6 outline">Adios</div>
    </section>

    <section class="w-10/12 grid grid-cols-12 gap-5 mx-auto mb-16">
        <div class="col-span-6 col-start-2 outline">Adios</div>
        <div class="col-span-3 col-start-9 outline">Hola</div>
    </section>

    <section class="w-10/12 grid grid-cols-12 gap-5 mx-auto">
        <div class="col-span-3 col-start-2 outline">Hola</div>
        <div class="col-span-6 col-start-6 outline">Adios</div>
    </section>
</div>

