<div class="w-full bg-gray-100 py-16">
    <section class="w-10/12 grid grid-cols-12 gap-5 mx-auto mb-32">
        <div class="col-span-3 col-start-2">
            <img src="services-1.webp" alt="" />
        </div>
        <div class="col-span-6 col-start-6 place-content-center">
            <h3 class="font-worksans font-bold text-6xl mb-9">
                Brand Strategy
            </h3>
            <p class="font-worksans font-bold text-4xl mb-7">
                Create value with Excellence in Design
            </p>
            <p class="font-overpass text-2xl mb-10">
                Leading Brands are born from Design Thinking. Express your own DNA with a captivating and engaging Identity.
            </p>
            <p class="flex flex-row cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="66" height="66" viewBox="0 0 24 24" stroke-width="1.5" stroke="#3c4149" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 9l6 6l6 -6" />
                </svg>
                <span class="place-content-center font-overpass text-2xl">Know more</span>
            </p>
        </div>
    </section>

    <section class="w-10/12 grid grid-cols-12 gap-5 mx-auto my-32">
        <div class="col-span-6 col-start-2 place-content-center">
            <h3 class="font-worksans font-bold text-6xl mb-9">
                Digital Strategy
            </h3>
            <p class="font-worksans font-bold text-4xl mb-7">
                Connect with your most profitable Targets
            </p>
            <p class="font-overpass text-2xl mb-10">
                We help you to identify your most profitable clients and develop strategies to impact them in the right place and at the right time.
            </p>
            <p class="flex flex-row cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="66" height="66" viewBox="0 0 24 24" stroke-width="1.5" stroke="#3c4149" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 9l6 6l6 -6" />
                </svg>
                <span class="place-content-center font-overpass text-2xl">Know more</span>
            </p>
        </div>
        <div class="col-span-3 col-start-9">
            <img src="services-2.webp" alt="" />
        </div>
    </section>

    <section class="w-10/12 grid grid-cols-12 gap-5 mx-auto my-32">
        <div class="col-span-3 col-start-2">
            <img src="services-3.webp" alt="" />
        </div>
        <div class="col-span-6 col-start-6 place-content-center">
            <h3 class="font-worksans font-bold text-6xl mb-9">
                E-Commerce
            </h3>
            <p class="font-worksans font-bold text-4xl mb-7">
                Increase your Sales with new online customers
            </p>
            <p class="font-overpass text-2xl mb-10">
                We create your online store from scratch or help you admin your e-commerce and make it more profitable with Promotion and Growth Strategies.
            </p>
            <p class="flex flex-row cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="66" height="66" viewBox="0 0 24 24" stroke-width="1.5" stroke="#3c4149" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 9l6 6l6 -6" />
                </svg>
                <span class="place-content-center font-overpass text-2xl">Know more</span>
            </p>
        </div>
    </section>

    <section class="w-10/12 grid grid-cols-12 gap-5 mx-auto my-32">
        <div class="col-span-6 col-start-2 place-content-center">
            <h3 class="font-worksans font-bold text-6xl mb-9">
                E-Mail Marketing
            </h3>
            <p class="font-worksans font-bold text-4xl mb-7">
                Reach consumers with relevance, in Real Time
            </p>
            <p class="font-overpass text-2xl mb-10">
                Stop boring all your customers with the same message. Let's create more effective customer journeys together with AI-based Marketing Automation.
            </p>
            <p class="flex flex-row cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="66" height="66" viewBox="0 0 24 24" stroke-width="1.5" stroke="#3c4149" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 9l6 6l6 -6" />
                </svg>
                <span class="place-content-center font-overpass text-2xl">Know more</span>
            </p>
        </div>
        <div class="col-span-3 col-start-9">
            <img src="services-4.webp" alt="" />
        </div>
    </section>

    <section class="w-10/12 grid grid-cols-12 gap-5 mx-auto mt-32">
        <div class="col-span-3 col-start-2">
            <img src="services-5.webp" alt="" />
        </div>
        <div class="col-span-6 col-start-6 place-content-center">
            <h3 class="font-worksans font-bold text-6xl mb-9">
                Video & Voice
            </h3>
            <p class="font-worksans font-bold text-4xl mb-7">
                Share your Brand Story in compelling ways
            </p>
            <p class="font-overpass text-2xl mb-10">
                If a picture is worth a thousand words, a video is worth a thousand images. Increase your conversions by adding visual content and podcasting to bring your brand alive.
            </p>
            <p class="flex flex-row cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="66" height="66" viewBox="0 0 24 24" stroke-width="1.5" stroke="#3c4149" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 9l6 6l6 -6" />
                </svg>
                <span class="place-content-center font-overpass text-2xl">Know more</span>
            </p>
        </div>
    </section>
</div>

