---
import SectionHeader from '@/components/SectionHeader.astro';
import TeamItem from '@/components/TeamItem.astro';
---
<section class="w-full my-24">
    <SectionHeader 
        title="The Team"
        subtitle="The People Who <strong>Power Your Project</strong>"
    />
    <div class="w-8/12 grid grid-cols-12 gap-14 mx-auto">

        <TeamItem
            name="Nombre"
            title="Lorem ipsum dolor"
            text="Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet"
            imgUrl="team.jpg"
        />
        <TeamItem
            name="Nombre"
            title="Lorem ipsum dolor"
            text="Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet"
            imgUrl="team.jpg"
        />
        <TeamItem
            name="Nombre"
            title="Lorem ipsum dolor"
            text="Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet"
            imgUrl="team.jpg"
        />
        <TeamItem
            name="Nombre"
            title="Lorem ipsum dolor"
            text="Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet"
            imgUrl="team.jpg"
        />
        <TeamItem
            name="Nombre"
            title="Lorem ipsum dolor"
            text="Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet"
            imgUrl="team.jpg"
        />
        <TeamItem
            name="Nombre"
            title="Lorem ipsum dolor"
            text="Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet"
            imgUrl="team.jpg"
        />
        <TeamItem
            name="Nombre"
            title="Lorem ipsum dolor"
            text="Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet"
            imgUrl="team.jpg"
        />
        <TeamItem
            name="Nombre"
            title="Lorem ipsum dolor"
            text="Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet"
            imgUrl="team.jpg"
        />
        <TeamItem
            name="Nombre"
            title="Lorem ipsum dolor"
            text="Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet"
            imgUrl="team.jpg"
        />
        
        
    </div>
</section>