---
import SectionHeader from '@/components/SectionHeader.astro';
---
<section class="w-full my-24">
    <SectionHeader 
        title="The Team"
        subtitle="The People Who <strong>Power Your Project</strong>"
    />
    <div class="w-8/12 grid grid-cols-12 gap-14 mx-auto">
        <div class="col-span-3 mb-10">
            <div class="relative group transition-all duration-500 overflow-hidden rounded-full mb-8">
                <img src="/team.jpg" 
                    class="relative mx-auto"
                />
                <div class="absolute top-100 left-0 w-full h-full rounded-full
                          text-center flex flex-col justify-center bg-primary bg-opacity-50
                          duration-300 transition-all
                          group-hover:-mt-[98%]"
                >
                    <p class="font-worksans font-bold text-1xl px-6 text-white">Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet</p>
                </div>
            </div>
            <p class="font-worksans font-bold text-2xl uppercase text-center mb-1">name</p>
            <p class="font-worksans text-1xl text-center mb-2">Lorem ipsum dolor</p>
        </div>
        <div class="col-span-3 mb-10">
            <div class="relative group transition-all duration-500 overflow-hidden rounded-full mb-8">
                <img src="/team.jpg" 
                    class="relative mx-auto"
                />
                <div class="absolute top-100 left-0 w-full h-full rounded-full
                          text-center flex flex-col justify-center bg-primary bg-opacity-50
                          duration-300 transition-all
                          group-hover:-mt-[98%]"
                >
                    <p class="font-worksans font-bold text-1xl px-6 text-white">Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet</p>
                </div>
            </div>
            <p class="font-worksans font-bold text-2xl uppercase text-center mb-1">name</p>
            <p class="font-worksans text-1xl text-center mb-2">Lorem ipsum dolor</p>
        </div>
        <div class="col-span-3 mb-10">
            <div class="relative group transition-all duration-500 overflow-hidden rounded-full mb-8">
                <img src="/team.jpg" 
                    class="relative mx-auto"
                />
                <div class="absolute top-100 left-0 w-full h-full rounded-full
                          text-center flex flex-col justify-center bg-primary bg-opacity-50
                          duration-300 transition-all
                          group-hover:-mt-[98%]"
                >
                    <p class="font-worksans font-bold text-1xl px-6 text-white">Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet</p>
                </div>
            </div>
            <p class="font-worksans font-bold text-2xl uppercase text-center mb-1">name</p>
            <p class="font-worksans text-1xl text-center mb-2">Lorem ipsum dolor</p>
        </div>
        <div class="col-span-3 mb-10">
            <div class="relative group transition-all duration-500 overflow-hidden rounded-full mb-8">
                <img src="/team.jpg" 
                    class="relative mx-auto"
                />
                <div class="absolute top-100 left-0 w-full h-full rounded-full
                          text-center flex flex-col justify-center bg-primary bg-opacity-50
                          duration-300 transition-all
                          group-hover:-mt-[98%]"
                >
                    <p class="font-worksans font-bold text-1xl px-6 text-white">Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet</p>
                </div>
            </div>
            <p class="font-worksans font-bold text-2xl uppercase text-center mb-1">name</p>
            <p class="font-worksans text-1xl text-center mb-2">Lorem ipsum dolor</p>
        </div>
        <div class="col-span-3 mb-10">
            <div class="relative group transition-all duration-500 overflow-hidden rounded-full mb-8">
                <img src="/team.jpg" 
                    class="relative mx-auto"
                />
                <div class="absolute top-100 left-0 w-full h-full rounded-full
                          text-center flex flex-col justify-center bg-primary bg-opacity-50
                          duration-300 transition-all
                          group-hover:-mt-[98%]"
                >
                    <p class="font-worksans font-bold text-1xl px-6 text-white">Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet</p>
                </div>
            </div>
            <p class="font-worksans font-bold text-2xl uppercase text-center mb-1">name</p>
            <p class="font-worksans text-1xl text-center mb-2">Lorem ipsum dolor</p>
        </div>
        <div class="col-span-3 mb-10">
            <div class="relative group transition-all duration-500 overflow-hidden rounded-full mb-8">
                <img src="/team.jpg" 
                    class="relative mx-auto"
                />
                <div class="absolute top-100 left-0 w-full h-full rounded-full
                          text-center flex flex-col justify-center bg-primary bg-opacity-50
                          duration-300 transition-all
                          group-hover:-mt-[98%]"
                >
                    <p class="font-worksans font-bold text-1xl px-6 text-white">Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet</p>
                </div>
            </div>
            <p class="font-worksans font-bold text-2xl uppercase text-center mb-1">name</p>
            <p class="font-worksans text-1xl text-center mb-2">Lorem ipsum dolor</p>
        </div>
        <div class="col-span-3 mb-10">
            <div class="relative group transition-all duration-500 overflow-hidden rounded-full mb-8">
                <img src="/team.jpg" 
                    class="relative mx-auto"
                />
                <div class="absolute top-100 left-0 w-full h-full rounded-full
                          text-center flex flex-col justify-center bg-primary bg-opacity-50
                          duration-300 transition-all
                          group-hover:-mt-[98%]"
                >
                    <p class="font-worksans font-bold text-1xl px-6 text-white">Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet</p>
                </div>
            </div>
            <p class="font-worksans font-bold text-2xl uppercase text-center mb-1">name</p>
            <p class="font-worksans text-1xl text-center mb-2">Lorem ipsum dolor</p>
        </div>
        <div class="col-span-3 mb-10">
            <div class="relative group transition-all duration-500 overflow-hidden rounded-full mb-8">
                <img src="/team.jpg" 
                    class="relative mx-auto"
                />
                <div class="absolute top-100 left-0 w-full h-full rounded-full
                          text-center flex flex-col justify-center bg-primary bg-opacity-50
                          duration-300 transition-all
                          group-hover:-mt-[98%]"
                >
                    <p class="font-worksans font-bold text-1xl px-6 text-white">Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet</p>
                </div>
            </div>
            <p class="font-worksans font-bold text-2xl uppercase text-center mb-1">name</p>
            <p class="font-worksans text-1xl text-center mb-2">Lorem ipsum dolor</p>
        </div>
        <div class="col-span-3 mb-10">
            <div class="relative group transition-all duration-500 overflow-hidden rounded-full mb-8">
                <img src="/team.jpg" 
                    class="relative mx-auto"
                />
                <div class="absolute top-100 left-0 w-full h-full rounded-full
                          text-center flex flex-col justify-center bg-primary bg-opacity-50
                          duration-300 transition-all
                          group-hover:-mt-[98%]"
                >
                    <p class="font-worksans font-bold text-1xl px-6 text-white">Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet</p>
                </div>
            </div>
            <p class="font-worksans font-bold text-2xl uppercase text-center mb-1">name</p>
            <p class="font-worksans text-1xl text-center mb-2">Lorem ipsum dolor</p>
        </div>
        <div class="col-span-3 mb-10">
            <div class="relative group transition-all duration-500 overflow-hidden rounded-full mb-8">
                <img src="/team.jpg" 
                    class="relative mx-auto"
                />
                <div class="absolute top-100 left-0 w-full h-full rounded-full
                          text-center flex flex-col justify-center bg-primary bg-opacity-50
                          duration-300 transition-all
                          group-hover:-mt-[98%]"
                >
                    <p class="font-worksans font-bold text-1xl px-6 text-white">Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet</p>
                </div>
            </div>
            <p class="font-worksans font-bold text-2xl uppercase text-center mb-1">name</p>
            <p class="font-worksans text-1xl text-center mb-2">Lorem ipsum dolor</p>
        </div>
        <div class="col-span-3 mb-10">
            <div class="relative group transition-all duration-500 overflow-hidden rounded-full mb-8">
                <img src="/team.jpg" 
                    class="relative mx-auto"
                />
                <div class="absolute top-100 left-0 w-full h-full rounded-full
                          text-center flex flex-col justify-center bg-primary bg-opacity-50
                          duration-300 transition-all
                          group-hover:-mt-[98%]"
                >
                    <p class="font-worksans font-bold text-1xl px-6 text-white">Lorem ipsum dolor sid amet Lorem ipsum dolor sid amet</p>
                </div>
            </div>
            <p class="font-worksans font-bold text-2xl uppercase text-center mb-1">name</p>
            <p class="font-worksans text-1xl text-center mb-2">Lorem ipsum dolor</p>
        </div>
        
    </div>
</section>