---
import SectionHeader from '@/components/SectionHeader.astro';
---
<section class="w-full my-24">
    <SectionHeader 
        title="The Team"
        subtitle="The People Who <strong>Power Your Project</strong>"
    />
    
</section>